body {
	background-color: rgba(26, 20, 20, 0.884);
	color: #cf2028;
	font-size: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1% 5% 1% 5%;
}

.sep {
	border-bottom: 2px solid #b31b20;
	margin-bottom: 5%;
}

.searchBubble {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchContainer {
	margin: 1% 5% 1% 5%;
	border-collapse: collapse;
}

.searchContainer>div>*:not(button) {
	border: 2px solid #b31b20;
	margin: 0;
}

.searchContainer>div>:not(input) {
	border-top-width: 0;
}

.searchContainer>div>*:last-child {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.searchField {
	border-radius: 12px;
	padding: 2px 12px 2px 9px;
	background: transparent;
	color: #b31b20;
	outline: 0px;
	width: 100%;
	font-size: 1rem;
}

.searchField[value=""] {
	color: lightgray;
}

.searchButton {
	position: absolute;
	padding: 3px 0px 0px 0px;
	right: calc(5% + 15px);
	margin: auto;
	border: none;
	background: transparent;
	color:inherit;
}

.searchBubble:not(:last-child) .searchField {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
