.container {

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5% 1% 5%;
}

.sep {
  border-bottom: 2px solid white;
  margin-bottom: 5%;
}

.title {

}

.searchBubble {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5% 1% 5%;
}

.searchField {
  border: 2px solid white;
  border-radius: 12px;
  padding: 2px 12px 2px 9px;
  background: transparent;
  color: lightgray;
  outline: 0px;
  width: 100%;
}

.searchButton {
  position: absolute;
  right: calc(5% + 15px);
  margin: auto;
  border: none;
  background: transparent;
}

form:not(:last-child) .searchField {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
